<div class="grid-container">
  <div class="div-header">
    <mat-icon style="margin-right: 5px; " [inline]="true">ballot</mat-icon>Overview
  </div>
  <mat-grid-list cols="4" rowHeight="230px">
    <mat-grid-tile [colspan]="commonsService.smallCols(4)" [rowspan]="1" *ngFor="let stat of basic_stats">
      <mat-card class="dashboard-card" [ngClass]="stat.status">
        <mat-card-header>
          <mat-card-title>
            <span class="dash-card-title">
              {{stat.name}}
            </span>
            <button mat-icon-button class="more-button">
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="dash-card-stats">
            {{stat.value}}
            <span class="stat-type">
              {{stat.type}}
            </span>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer class="dashboard-card-footer">
          <h4>
            {{stat.footer}}
          </h4>

        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="commonsService.smallCols(4)>=2?4:2" [rowspan]="1">
      <mat-card class="dashboard-card primary-card">
        <mat-card-header>
          <mat-card-title>
            <span class="dash-card-title">
              Next Hit In
            </span>
            <button mat-icon-button class="more-button">
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="dash-card-stats">
            00:00:06
            <span class="stat-type">

            </span>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer class="dashboard-card-footer">
          <h4>
            After each 15s
          </h4>

        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="commonsService.smallCols(4)>=2?4:2" [rowspan]="2">
      <mat-card class="dashboard-card graph-card">
        <mat-card-header>
          <mat-card-title>
            <span class="dash-card-title">
              Active Services
            </span>
            <button mat-icon-button class="more-button">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <canvas baseChart height="350" width="100%" [datasets]="timelineChartUiBasicModel.chartData"
            [labels]="timelineChartUiBasicModel.chartLabels" [options]="timelineChartUiBasicModel.chartOptions"
            [colors]="timelineChartUiBasicModel.chartColors" [legend]="timelineChartUiBasicModel.chartLegend"
            [chartType]="timelineChartUiBasicModel.chartType" [plugins]="timelineChartUiBasicModel.chartPlugins">
          </canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="commonsService.smallCols(4)>=2?4:2" [rowspan]="1">
      <mat-card class="dashboard-card graph-card">
        <mat-card-header>
          <mat-card-title>
            <span class="dash-card-title">
              Latency Timeline
            </span>
            <button mat-icon-button class="more-button">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <canvas baseChart height="150" width="100%" [datasets]="averageRTTChartUiBasicModel.chartData"
            [labels]="averageRTTChartUiBasicModel.chartLabels" [options]="averageRTTChartUiBasicModel.chartOptions"
            [colors]="averageRTTChartUiBasicModel.chartColors" [legend]="averageRTTChartUiBasicModel.chartLegend"
            [chartType]="averageRTTChartUiBasicModel.chartType" [plugins]="averageRTTChartUiBasicModel.chartPlugins">
          </canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <div class="div-header">
    <mat-icon style="margin-right: 5px; " [inline]="true">dns</mat-icon>All Registered Services
  </div>
  <br>
  <div class="services-div">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let endpoint of endpointsList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{endpoint.name}}
            <mat-icon inline style="color: rgb(228, 167, 0);" *ngIf="!endpoint.details.atleastOneActive">warning
            </mat-icon>
            <mat-icon inline style="color: rgb(39, 197, 0);" *ngIf="endpoint.details.atleastOneActive">check_circle
            </mat-icon>
          </mat-panel-title>
          <mat-panel-description *ngIf="commonsService.smallCols(4)<4">
            {{endpoint.details.totalVersions}} Instance(s)
            | Latency: {{endpoint.details.lastHitBestDetails.rtt}}ms

          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-endpoint-detailed [selectedService]="endpoint"></app-endpoint-detailed>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <br>
  <div class="div-header">
    <mat-icon style="margin-right: 5px; " [inline]="true">signal_cellular_alt</mat-icon>Statistics and Profiling
  </div>
  <br>
  <div>
    <app-profiling></app-profiling>
  </div>
  <br>
  <div class="div-header">
    <mat-icon style="margin-right: 5px; " [inline]="true">info</mat-icon>About
  </div>
  <br>
  <div>
    <app-about></app-about>
  </div>

</div>