<mat-card class="about-card">
    <mat-card-header>
        <mat-card-title>Operations</mat-card-title>
        <mat-card-subtitle>Dashboard</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="about-div">
            <b>Description:</b>
            <p>
                
                Demo dashboard for Monitoring and profiling of service endpoints.
                <br>
                Each endpoint can have several versions and based on the query return of each endpoint version view
                will be generated.
            </p>
            <b>Function:</b>
            <p>
                Support for viewing Latency, Uptime, Bad performing services, etc.
                <br>
                Easy visualization through widgets and charts.
            </p>
            <b>Design:</b>
            <p>
                Built with Angular 9, Angular Material and Chartjs.
                <br>
                Fully Responsive with PWA support.
            </p>

            <p>
                Dummy Endpoints used from:
                <br>
                https://reqres.in
            </p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>